{% load static %}
<section id="atracoes" class="atracoes">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Atrações</h2>
        <p>Para seguir a tradição de uma boa cavalgada em solo mineiro, não pode faltar música e gastronomia</p>
      </div>

      <div class="row">
        <div class="col-lg-6 order-2 order-lg-1">
          <div class="icon-box mt-5 mt-lg-0" data-aos="fade-up">
            <i class='bx bxs-music'></i>
            <h4>10:00 - Lindosmar da Viola</h4>
            <p>Trazendo o melhor do sertanejo raíz.</p>
          </div>
          <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="100">
            <i class='bx bx-cookie' ></i>
            <h4>Comida Típica Mineira</h4>
            <p>Praça de Alimentação coberta.</p>
          </div>
          <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="200">
            <i class="bx bxs-beer"></i>
            <h4>Exposição de Cervejas</h4>
            <p>Aqui não entra pingunço, só sai...</p>
          </div>
          <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="300">
            <i class="bx bxs-t-shirt"></i>
            <h4>Desfile de Moda Country</h4>
            <p>Cavaleiros e amazonas estilosos.</p>
          </div>
        </div>
        <div class="image col-sm-12 col-lg-6 order-1 order-lg-2" style='background-image: url("static/img/atracoes.jpg");' data-aos="fade-left" data-aos-delay="100"></div>
      </div>

    </div>
</section>