{% load static %}
<section id="contato" class="contato section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Contato</h2>
        <p>Deixaremos a localização do ponto de partida, local onde ficarão as barraquinhas e o grande palco.</p>
      </div>

      <div class="row">
        <div class=" col-md-6 col-lg-4">
          <div class="info d-flex flex-column justify-content-center" data-aos="fade-right">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>Localização:</h4>
              <p>Av. Coronel Custódio Alvarenga<br>Capim Branco/MG</p>
            </div>

            <div class="email">
              <i class="bi bi-envelope"></i>
              <h4>Email:</h4>
              <p>pegasusfest22@example.com</p>
            </div>

            <div class="phone">
              <i class="bi bi-phone"></i>
              <h4>Telefone:</h4>
              <p>+55 31 99999-9999</p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-8 mt-3 mt-lg-0" id="mapa">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3759.8245433828247!2d-44.137028784741084!3d-19.549144931627854!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa65c2b246eb0c1%3A0xe12505ac7c8dfce8!2sAv.%20Coronel%20Cust%C3%B3dio%20Alvarenga%20-%20Salatiel%20A%20de%20Deus%2C%20Capim%20Branco%20-%20MG%2C%2035730-000!5e0!3m2!1sen!2sbr!4v1649287920955!5m2!1sen!2sbr" width="720" height="300" style="border:1px solid #18d26e;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>

    </div>
</section>