{% load static %}
<section id="evento" class="evento">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Sobre o Evento</h2>
        <p>Natureza, cavalos e tradição caipira!</p>
      </div>

      <div class="row">
        <div class="col-lg-6" data-aos="fade-right">
          <div class="image">
            <img src="{% static 'img/evento.jpg' %}" class="img-fluid" alt="sobre o evento">
          </div>
        </div>
        <div class="col-lg-6" data-aos="fade-left">
          <div class="content pt-4 pt-lg-0 pl-0 pl-lg-3 ">
            <h3>Só quem é raíz entende...</h3>
            <p class="fst-italic">
              Para esta edição de 2022 contaremos com : 
            </p>
            <ul>
              <li><i class="bx bx-check-double"></i> Cavalgada pela trilha tricentenária. Buscando na História como era a vida dos tropeiros.</li>
              <li><i class="bx bx-check-double"></i> Parada para descanso e hidratação dos animais no Lago do Sossego.</li>
              <li><i class="bx bx-check-double"></i> Modão sertanejo com galinhada na Fazenda do Pintassilgo.</li>
            </ul>
            <p id="comentario">
              Deu para perceber que o passeio vai ser danado de bom. Se prepare durante a semana do evento. Maiores de 65 anos deverão apresentar um Atestado Médico,
              comprovando boa saúde. Solicitamos que os menores de 16 anos deverão estar acompanhados de um responsável adulto.
              Toda e qualquer violência física e emocional às pessoas e aos animais é repudiada e o causador será expulso do evento, podendo ser direcionado às autoridades competentes.
            </p>
          </div>
        </div>
      </div>

    </div>
</section>