{% load static %}
<section id="why-us" class="why-us">
    <div class="container-fluid">

      <div class="row">

        <div class="col-lg-7 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-stretch">

          <div class="content" data-aos="fade-up">
            <h3><strong>Cavaleiros </strong>e <strong>Amazonas</strong> devem saber</h3>
          </div>

          <div class="accordion-list">
            <ul>
              <li data-aos="fade-up" data-aos-delay="100">
                <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1"><span>01</span> O animal e o seu dono se tornam um<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                  <p>
                    Se você confundir cavalo com moto ou bike, vai acabar não agradando do passeio. O animal apesar de ser forte, tem sentimentos e você precisa entender isso e o esforço físico que ele faz deve ser recompensado com descanso.
                  </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="200">
                <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed"><span>02</span> Diferenciar CONTEMPLAR de POSTAR <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Estamos na era da tecnologia da informação. Todo mundo tem pelo menos um celular com mídia social, mas deixar de curtir abeleza de uma paisagem só para ficar fazendo pose para o Instagram é demais né?
                  </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed"><span>03</span> Cada evento é único. Aproveite-o. <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Café bem quente no bule pronto para ser saboreado ao sol nascente. Cavalgada, som de viola e despedida dos amigos no poente.
                  </p>
                </div>
              </li>

            </ul>
          </div>

        </div>

        <div class="col-lg-5 order-1 order-lg-2 align-items-stretch video-box" style='background-image: url("static/img/detalhe.jpg");' data-aos="zoom-in">
          <a href="https://www.youtube.com/watch?v=5OWcfv16ezU" target="_blank" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
        </div>

      </div>

    </div>
</section>